<div class="text-center">
  <h1>Editando Producto</h1>
</div>

<%= render "form", product: @product %>

<br>

<div class="container mt-0">
  <div class="text-center">
    <div class="btn-group" role="group">
      <%= link_to "Mostrar este producto", @product, class: 'btn btn-primary me-2' %>
      <%= link_to "Volver a productos", products_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>

<div>
    <p> </p>
</div>



