<div class="container mt-5">
  <h1 class="text-center mb-4">Nuevo producto</h1>
</div>
<%= render "form", product: @product %>

<div class="container mt-2">
  <div class="text-center">
    <%= link_to "Volver a productos", products_path, class: 'btn btn-secondary' %>
  </div>
</div>

<div>
  <h1>  </h1>
</div>
