<div id="<%= dom_id product_promotion %>">
  <p>
    <strong>Product:</strong>
    <%= product_promotion.product_id %>
  </p>

  <p>
    <strong>Promotion:</strong>
    <%= product_promotion.promotion_id %>
  </p>

</div>
